<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top">
    <button class="navbar-toggler sideMenuToggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/admin/">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <div>

            <a href="/logout"> <span class="text">Logout</span></a>
          </div>





        </li>
      </ul>
    </div>
  </nav>
  <div class="wrapper d-flex">
    <div class="sideMenu bg-mattBlackLight">
      <div class="sidebar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/admin" class="nav-link px-2">
              <i class="material-icons icon">
                dashboard
              </i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/user-management" class="nav-link px-2">
              <i class="material-icons icon">
                person
              </i>
              <span class="text">User Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/product-management" class="nav-link px-2">
              <i class="material-icons icon"> insert_chart </i><span class="text">Product Management</span></a>
          </li>
          <li class="nav-item">
            <a href="/admin/category-management" class="nav-link px-2">
              <i class="material-icons icon"> book </i><span class="text">Category
                Management</span></a>
          </li>
          <li class="nav-item">
          <li class="nav-item">
            <a href="/admin/get-all-orders" class="nav-link px-2">
              <i class="material-icons icon">
                pages
              </i>
              <span class="text">All Orders</span>
            </a>
          </li>
          <a href="#" class="nav-link px-2">
            <i class="material-icons icon">
              settings
            </i>
            <span class="text">Settings</span>
          </a>
          </li>

          <li class="nav-item">
            <a href="/admin/report" class="nav-link px-2">
              <i class="material-icons icon">
                account_balance
              </i>
              <span class="text">Reports</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2">
              <i class="material-icons icon">
                local_offer
              </i>
              <span class="text">Coupon</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/offer" class="nav-link px-2">
              <i class="material-icons icon">
                card_giftcard
              </i>
              <span class="text">Offer</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 sideMenuToggler">
              <i class="material-icons icon expandView ">
                view_list
              </i>
              <span class="text">Resize</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <main>
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-3 my-3">
              <div class="bg-mattBlackLight px-3 py-3">
                <h4 class="mb-2">Total Orders</h4>
                <div class="progress" style="height: 16px;">
                  <div class="progress-bar bg-info text-mattBlackDark" role="progressbar" style="width: 100%;"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    {{orderNum.totalOrders}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 my-3">
              <div class="bg-mattBlackLight px-3 py-3">
                <h4 class="mb-2">Ready To ship Orders</h4>
                <div class="progress" style="height: 16px;">
                  <div class="progress-bar bg-warning text-mattBlackDark" role="progressbar"
                    style="width: {{orderNum.readyToshipPers}}%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">
                    {{orderNum.readyToship}}
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-3 my-3">
              <div class="bg-mattBlackLight p-3">
                <h4 class="mb-2">Completed Orders</h4>
                <div class="progress" style="height: 16px;">
                  <div class="progress-bar bg-success" role="progressbar"
                    style="width: {{orderNum.completedOrderPers}}%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">
                    {{orderNum.completedOrder}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 my-3">
              <div class="bg-mattBlackLight p-3">
                <h4 class="mb-2">Cancelled orders</h4>
                <div class="progress" style="height: 16px;">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: {{orderNum.cancelOrderPers}}%;"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    {{orderNum.cancelOrder}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="bg-mattBlackLight p-3">
                <div id="date" hidden>{{response.date}}</div>
                <div id="total" hidden>{{response.total}}</div>
                <canvas id="myChart"></canvas>

              </div>

            </div>

          </div>
        </div>
    </div>
    </main>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script>
    var date = document.getElementById('date').innerHTML
    var total = document.getElementById('total').innerHTML

    var dateArr = date.split(',')
    var totalArr = total.split(',')
    console.log('total', totalArr)

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
        labels: dateArr,
        datasets: [{
          label: 'Sales',
          backgroundColor: 'rgb(222, 196, 0)',
          borderColor: 'rgb(0,0,0)',
          data: totalArr
        }]
      },

      // Configuration options go here
      options: {}
    });
  </script>
</body>