<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top">
        <button class="navbar-toggler sideMenuToggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/admin/">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <div>

                        <a href="/logout"> <span class="text">Logout</span></a>
                    </div>





                </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper d-flex">
        <div class="sideMenu bg-mattBlackLight">
            <div class="sidebar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/admin" class="nav-link px-2">
                            <i class="material-icons icon">
                                dashboard
                            </i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/user-management" class="nav-link px-2">
                            <i class="material-icons icon">
                                person
                            </i>
                            <span class="text">User Management</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/product-management" class="nav-link px-2">
                            <i class="material-icons icon"> insert_chart </i><span class="text">Product
                                Management</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/category-management" class="nav-link px-2">
                            <i class="material-icons icon"> book </i><span class="text">Category
                                Management</span></a>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item">
                        <a href="/admin/get-all-orders" class="nav-link px-2">
                            <i class="material-icons icon">
                                pages
                            </i>
                            <span class="text">All Orders</span>
                        </a>
                    </li>
                    <a href="#" class="nav-link px-2">
                        <i class="material-icons icon">
                            settings
                        </i>
                        <span class="text">Settings</span>
                    </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link px-2">
                            <i class="material-icons icon">
                                account_balance
                            </i>
                            <span class="text">Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2">
                            <i class="material-icons icon">
                                local_offer
                            </i>
                            <span class="text">Coupon</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 sideMenuToggler">
                            <i class="material-icons icon expandView ">
                                view_list
                            </i>
                            <span class="text">Resize</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <main>
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12 m-auto">

                            <div class="bg-mattBlackLight my-2 p-3">

                                <h2 style="color: aliceblue;" class="text-center">Offer Manage</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-auto">
                            <div class="bg-mattBlackLight my-2 p-3" id="mad-max">
                               
                                <table class="table mt-" id="offer-to-category-table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="table-text">Category Name</th>
                                            <th scope="col" class="table-text">Offer</th>
                                            <th scope="col" class="table-text">Offer Period</th>
                                            <th scope="col" class="table-text">Action</th>
                                            


                                        </tr>
                                    </thead>
                                    <tbody>
                                      {{#each categories}}
                                        <tr>

                                            
                                            <td class="table-text">{{this.productSubCat}}</td>
                                            {{#if this.offer}}
                                            <td class="table-text">{{this.offer}}</td>
                                            <td class="table-text">{{this.startDate}} To {{this.endDate}}</td>
                                            {{else}}
                                            <td class="table-text">NILL</td>
                                            <td class="table-text">NILL</td>
                                            {{/if}}
                                            
                                            
                                            
                                            <td class="table-text">
                                                {{#if this.offer}}
                                                    <a class="btn btn-danger" href="/admin/delete-category-offer/{{this.productSubCat}}"
                                                    onclick="return confirm(`Are you want to Remove offer {{this.productSubCat}}`)">
                                                    Remove Offer</a>
                                                    {{else}}

                                                <a class="btn btn-primary"
                                                    href="/admin/add-category-offer/{{this._id}}">Update Offer</a>
                                                {{/if}}
                                                
                                                   
                                            </td>
                                            



                                        </tr>
                                        {{/each}}

                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </main>
    </div>
    </div>
<script>
        $(document).ready(function () {
            $('#offer-to-category-table').DataTable();
        });
    </script>

</body>